.showpost{
    justify-content: center;
    position: absolute;
    top:130px;
    height:350px;
    left:200px;
    width:100px;
    background-color:#f2f2f2;
    border: 1px solid #ccc;
  padding: 16px;
  width: 300px; /* Adjust the width as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
  text-align: center;
}