.terms-container {
    position:absolute;
    top:100px;
    width: 1000px;
    left:15%;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;justify-content: center;
    height: 500px;

  }
  
  /* .terms-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
   */
 
  .terms-container.active {
    max-height: 500px;
  }
  
  .terms-content.show {
    display: block;
    max-height: 500px;
    opacity: 1;
  }